@import './variables';
@import './navbar.scss';
@import './banner.scss';
@import './trending.scss';
@import './submenu.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}

.header-container {
    height: 70vh;
    background: url("../src/images/starfield-image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 100%, -100% 85%);
    overflow: hidden;
}

h1{
    text-align: center;
}